@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    z-index: 0;
}

body {
    /* background-color:royalblue; */
    background-image: url("https://source.unsplash.com/random/1920x1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}

.custom-sidebar {
    min-height: 100vh;
    position: absolute;
    
}

.simploice-logo {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

.logo-space {
    padding: 0.2em;
}
  
.page-wrapper {
    margin-left: 35%;
    margin-top: 2rem;
    position: relative;
}

.page {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 10px 8px 1px black;
    text-align: center;
    position: relative;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    
}

::placeholder {
    color: lightgrey;
    font-size: small;
    font-style: italic;
  }

.textarea-align-right {
      text-align: right;
  }

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
    
}

.block-divider {
    width: 18cm;
    height: 3px;
    border: 1;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.block-divider-trans {
    width: 3px;
    height: 1px;
    border: 0;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-table-class {
    width: 100%;
    font-size: 11px;
}

input {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
}

.date-input {
    width: 6rem;
}

/* stop calendar icon from taking up too much white space */
input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

textarea {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
    resize: none;
}

th {
    font-weight: bold;
}

.row-buttons {
    border: 0;
    margin-left: 10px;
    background-color: white;
}

h5 {
    margin: 0px 0px 0px 0px;
    line-height: 0px;
}

h6 {
    margin: 0px 0px 0px 0px;
    line-height: 0px;
}

.business-logo {
    max-width: 322px;
    max-height: 158px;
    display: block;
}

.file-upload {
    display: none;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    background-color: rgb(92, 118, 233);
    color: white;
    border-radius: 5px;
    display: block;
    float: left;
}

.dimensions {
    font-style: italic;
    font-size: x-small;
}